.center {
  text-align: center;
}

.card-columns .card, .card{
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
  width: 300px;
}

.card-columns {
  display: flex;
  column-count: 3;
  min-width: 34em;
  flex-wrap: wrap;
}

h1 {
  color:#5b8ea8;
}
a {
  color:#5b8ea8;
}
a:hover {
  color: #40758f;
}

#image_file{
  /* align-content: center; */
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  /* display: none; */
}

body {
  background-color: #f5f5f5;
}

/*attempt to center map - doesnt work - hey it does now! */
#gmap {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  height: 73vh;
  width: 80vw;
  /* width: xpx;
  margin: 0 auto; */
}

.filter-results {
  display: inline-block;
}
