<!--https://cloud.google.com/appengine/docs/standard/python/authenticating-users-firebase-appengine-->
<!doctype html>
<!--
Copyright 2016 Google Inc. All rights reserved.
Licensed under the Apache License, Version 2.0 (the "License");
-->
<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.6.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.6.0/firebase-auth.js"></script>
  <script src="https://cdn.firebase.com/libs/firebaseui/3.4.1/firebaseui.js"></script>
  <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.4.1/firebaseui.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='style_new.css') }}">
  <script src="{{ url_for('.static', filename='auth_index_new.js') }}"></script>
  <title>FYAP! - Login</title>
</head>
<body>
  <div id="logged-out">
    <h1>Find You a Pupper!</h1>
    <h3>Sign in to see some pups</h3>
    <div id="firebaseui-auth-container"></div>
  </div>
  <!-- need to add in this functionality
  <button id="sign-out">Sign out</button>
  -->
</body>
</html>
