<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Firebase Login</title>

    <script src="https://www.gstatic.com/firebasejs/7.17.1/firebase-app.js"></script>

    <script src="https://www.gstatic.com/firebasejs/7.8.0/firebase-auth.js"></script>

    <script src="https://www.gstatic.com/firebasejs/7.17.1/firebase-analytics.js"></script>

    <!-- info to load the firebase login info -->
    <script src="https://cdn.firebase.com/libs/firebaseui/4.5.0/firebaseui.js"></script>
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/4.5.0/firebaseui.css">

    <!-- load in the script for page functionality and the style css file
    not sure if this is the proper refernce place -->
    <script src="{{ url_for('.static', filename='auth_index.js') }}"></script>

    <!-- create css file for this-->
    <link type="text/css" rel="stylesheet" href="{{ url_for('.static', filename='style.css') }}">

    <script>
      // Your web app's Firebase configuration
      var firebaseConfig = {
        apiKey: "AIzaSyDpWEmVsPnE0KVFCN9mN7jgF7vSiewSvK0",
        authDomain: "team1-apad-project.firebaseapp.com",
        databaseURL: "https://team1-apad-project.firebaseio.com",
        projectId: "team1-apad-project",
        storageBucket: "team1-apad-project.appspot.com",
        messagingSenderId: "1091529426743",
        appId: "1:1091529426743:web:39a5a384b974bca8e6bcb2",
        measurementId: "G-5K8N9NWZB9"
      };
      // Initialize Firebase
      firebase.initializeApp(firebaseConfig);
      firebase.analytics();
    </script>

</head>
<body>
    <h1>hello, world!</h1>
    <!-- The core Firebase JS SDK is always required and must be listed first -->

    <div class="container">
      <div class="content-wrapper bg-white p-5 m-5 align-middle">
          <h1 class="py-5">PetZone</h1>
          <div id="firebaseui-auth-container"></div>
          <button id="sign-out" hidden=true>Sign out</button>

          <div id="login-info">
            <h2>Last login:</h2>
            {% if times %}
              <p>{{ times }} </p>
            {% elif error_message %}
              <p>Error: {{ error_message }}</p>
            {% endif %}
          </div>
    </div>



</body>
</html>
