{% extends 'base.html.jinja2' %}

{% block title %}FYAP! - Create Post{% endblock %}

{% block content %}
<h1>Share That Pupper!</h1>

<form action="{{ url_for('.create_post') }}" method="post" enctype="multipart/form-data">
    <label for="image_file">Image</label><br />
    <input id="image_file" type="file" name="image_file"><br /><br />

    <label for="title">Title</label><br />
    <input id="title" type="text" name="title"><br /><br />

    <label for="breed_primary">Primary Breed</label><br />
    <input id="breed_primary" type="text" name="breed_primary"><br /><br />

    <label for="breed_secondary">Secondary Breed</label><br />
    <input id="breed_secondary" type="text" name="breed_secondary"><br /><br />

    <label for="tags">Tags (Separated By Spaces)</label><br />
    <input id="tags" type="text" name="tags"><br /><br />

    {# Hidden user ID #}
    <input id="uidInput" type="hidden" name="user_id"><br /><br />

    <input id="submit" type="submit" value="Submit Post"><br />
</form>

{# <script>
    var uid = firebase.auth().currentUser.uid;
    document.getElementById("uidInput").value = uid;
    console.log('set uid to ' + uid);
</script> #}

{% endblock %}
