{% extends 'base.html.jinja2' %}

{% block title %}FYAP! - Delete Post{% endblock %}

{% block content %}
<h1>Bye-bye, Puppo :(</h1>

<div id='post'>
    <div>
        <h4>"{{ post.title }}"</h4>
        <p>Breed: {{ post.breed_primary }}</p>
        <img src="{{ post.image_url }}" alt="{{ post.title }}" width="250px" height="150px">
        <br />
    </div>
    <input id="submit" type="submit" value="Delete Post"><br />

</div>


{% endblock %}
