{% extends "base.html" %}
{% block content %}
    <!-- adapted from sample project -->
    <div class="container-fluid main-content">
        <div class="row">
            <div class="col-12 d-flex flex-column ">
                <h1>Oops, something went wrong.</h1>
                <p>{{error}}</p>
                <a href="javascript:history.back()">back</a>
              
            </div>
        </div>
{% endblock %}