{% from "macros.html.jinja2" import post_display with context %}
{% extends "base.html.jinja2" %}

{% block title %}Find You a Pupper!{% endblock %}

{% block content %}
<h1>Welcome to Find You a Pupper!</h1>
<br />
<!-- carousel is adapted from https://www.w3schools.com/bootstrap/bootstrap_carousel.asp -->
<div class="container">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="/static/header1.png" alt="Comfy Boi" style="width:100%;">
      </div>

      <div class="item">
        <img src="/static/header2.png" alt="Silly Boi" style="width:100%;">
      </div>

      <div class="item">
        <img src="/static/header3.png" alt="Wet Boi" style="width:100%;">
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
<br />
<br />
<br />
<br />
<h2>Recently Spotted Doggos</h2><br />

<div class='card-columns'>
{% for post in posts %}
    {{ post_display(post, user_id) }}
    <br />
{% endfor %}
</div>
{% endblock %}
