{% macro filter(filters, breeds) %}

<form id="filter" class="filter-results" action="{{ url_for('map_bp.map') }}" method="post">

    <label for="breed_primary">Primary Breed</label>
    <select id="breed_primary" name="breed_primary">
        {% for breed in breeds %}
            {% if breed == filters['breed_primary'] %}
              <option value="{{ breed }}" selected>{{ breed }}</option>
            {% else %}
              <option value="{{ breed }}">{{ breed }}</option>
            {% endif %}
        {% endfor %}
    </select>

    <label for="breed_secondary">Secondary Breed</label>
    <select id="breed_secondary" name="breed_secondary">
        {% for breed in breeds %}
            {% if breed == filters['breed_secondary'] %}
              <option value="{{ breed }}" selected>{{ breed }}</option>
            {% else %}
              <option value="{{ breed }}">{{ breed }}</option>
            {% endif %}
        {% endfor %}
    </select>

    <label for="tags">Tags (separated by spaces)</label>
    <input id="tags" type="text" name="tags" value="{{ filters['tags'] }}">

    <label for="max_radius">Max Range (in miles)</label>
    <input id="max_radius" type="number" name="max_radius" value="{{ filters['max_radius'] }}"> |
    <!-- <button class="btn btn-warning" onClick="document.getElementById('filter').reset();">Reset</button><br /> -->
    <input type="reset" class="btn btn-warning"><br />

    <input class="btn btn-primary" id="submit" type="submit" value="Filter">


</form>
{% endmacro %}
