{% block title %}Logout{% endblock %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.6.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.6.0/firebase-auth.js"></script>
<script src="https://cdn.firebase.com/libs/firebaseui/3.4.1/firebaseui.js"></script>
<link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.4.1/firebaseui.css">
<link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='style_new.css') }}">

<script>
  var config = {
    apiKey: "AIzaSyDpWEmVsPnE0KVFCN9mN7jgF7vSiewSvK0",
    authDomain: "team1-apad-project.firebaseapp.com",
    databaseURL: "https://team1-apad-project.firebaseio.com",
    projectId: "team1-apad-project",
    storageBucket: "team1-apad-project.appspot.com",
    messagingSenderId: "1091529426743",
    appId: "1:1091529426743:web:39a5a384b974bca8e6bcb2",
    measurementId: "G-5K8N9NWZB9"
  };

  if (!firebase.apps.length) {
    firebase.initializeApp(config);
  }

  firebase.auth().signOut().then(function() {
    // Delete all cookies
    console.log('success');
    document.cookie.split(";").forEach(function(c) { document.cookie = c.replace(/^ +/, "").replace(/=.*/, "=;expires=" + new Date().toUTCString() + ";path=/"); });
    console.log('cookies deleted')
    window.location.href = '../../';
  }, function(error) {
    console.log(error);
  });
</script>

{% endblock %}
