{% macro post_display(post, user_id) %}
<div class="card">
    <div class="card-img-top">
        <img src="{{ post.image_url }}" alt="{{ post.title }}">
    </div>
    <div class="card-body">
        <div class="card-title">
            <h4>"{{ post.title }}"</h4>
        </div>
        <br/>

        {% if post.breed_secondary|length > 0 %}
            <p>Breeds: {{ post.breed_primary }} / {{ post.breed_secondary }} Mix</p>
        {% else %}
            <p>Breed: {{ post.breed_primary }}</p>
        {% endif %}

        <small>Tags: {{ post.tags }}</small>
        <br />
        <br />

        <div class="links" style="white-space: nowrap;">
        <a href="{{ url_for('view_bp.view_post', post_id=post.id) }}">View Details</a>
        {% if user_id==post.user_id %}
            | <a href="{{ url_for('update_bp.update_post', post_id=post.id) }}">Edit</a> |
            <a href="{{ url_for('delete_bp.delete_post', post_id=post.id) }}">Delete</a>
        {% endif %}
        </div>
    </div>
</div>
{% endmacro %}
