{% extends 'base.html.jinja2' %}

{% from 'filter.html.jinja2' import filter with context %}

{% block head %}{{ gmap.js }}{% endblock %}
{% block title %}FYAP! - Pupper Map{% endblock %}

{% block content %}

<h1>Cute Puppos Near You!</h1>
{{ filter(filters, breeds) }}
<hr />
<div class="map-div">
{{ gmap.html }}
</div>
{% endblock %}
