{% extends 'base.html.jinja2' %}

{% block title %}FYAP! - Edit Post{% endblock %}

{% block content %}
<h1>Edit That Pupper!</h1>
<hr />

<form action="{{ url_for('.update_post', post_id=post.id) }}" method="post" enctype="multipart/form-data">
    {# <label for="image_file">Image</label><br /> #}
    <img src="{{ post.image_url }}" alt="{{ post.title }}" {# width="250px" height="150px" #}><br /><br />

    <label for="title">Title</label><br />
    <input value="{{ post.title }}" id="title" type="text" name="title"><br />

    <label for="breed_primary">Primary Breed</label><br />
    <input value="{{ post.breed_primary }}" id="breed_primary" type="text" name="breed_primary"><br />

    <label for="breed_secondary">Secondary Breed</label><br />
    <input value="{{ post.breed_secondary }}" id="breed_secondary" type="text" name="breed_secondary"><br />

    <label for="tags">Tags (Separated By Spaces)</label><br />
    <input value="{{ post.tags }}" id="tags" type="text" name="tags"><br />

    {# Hidden input fields #}
    <input value="{{ post.id }}" name="id" type="hidden">
    {# <input value="{{ post.user_id }}" name="user_id" type="hidden">
    <input value="{{ post.timestamp }}" name="timestamp" type="hidden">
    <input value="{{ post.loc }}" name="timestamp" type="hidden"> #}

    <input id="submit" type="submit" value="Save Changes"><br />

{% endblock %}
