{% from 'macros.html.jinja2' import post_display with context %}
{% extends "base.html.jinja2" %}

{% block title %}Find You a Pupper!{% endblock %}

{% block content %}
<h1>View This Pupper</h1>

<div class="posts">
    {{ post_display(post, user_id) }}
    <br />
</div>
{% endblock %}
